.profile__avatar {
  grid-row: span 2;
  max-width: 120px;
  border-radius: 150px;
  object-fit: cover;
}

@media screen and (max-width: 936px) {
  .profile__avatar {
    grid-column: span 2;
    grid-row: auto;
  }
}
